In [1]:
import polars as pl
from google.cloud import bigquery

client = bigquery.Client()

In [39]:
df_polars = pl.from_arrow(client.query("SELECT * FROM `soloyt-youtube.dummy_sets.students_1`").to_arrow())

In [3]:
df_polars  # this is a polars data frame

shape: (1_000_000, 11)
┌────────────┬────────────┬───────────┬────────────┬───┬────────────┬───────────┬───────────┬──────┐
│ student_id ┆ first_name ┆ last_name ┆ date_of_bi ┆ … ┆ phone_numb ┆ address   ┆ enrollmen ┆ gpa  │
│ ---        ┆ ---        ┆ ---       ┆ rth        ┆   ┆ er         ┆ ---       ┆ t_date    ┆ ---  │
│ str        ┆ str        ┆ str       ┆ ---        ┆   ┆ ---        ┆ str       ┆ ---       ┆ f64  │
│            ┆            ┆           ┆ date       ┆   ┆ str        ┆           ┆ date      ┆      │
╞════════════╪════════════╪═══════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪══════╡
│ ST001091   ┆ Isabella   ┆ Smith     ┆ 1988-07-11 ┆ … ┆ +1-863-759 ┆ 456 Oak   ┆ 2021-07-0 ┆ 1.66 │
│            ┆            ┆           ┆            ┆   ┆ -8459      ┆ Ave       ┆ 5         ┆      │
│ ST013021   ┆ Olivia     ┆ Williams  ┆ 1990-11-18 ┆ … ┆ +1-623-396 ┆ 101 Maple ┆ 2024-04-0 ┆ 3.99 │
│            ┆            ┆           ┆            ┆   ┆ -8779      ┆ Rd        ┆ 5         ┆      │
│ ST015863   ┆ Mason      ┆ Brown     ┆ 1991-10-28 ┆ … ┆ +1-690-446 ┆ 456 Oak   ┆ 2021-12-2 ┆ 0.89 │
│            ┆            ┆           ┆            ┆   ┆ -3829      ┆ Ave       ┆ 0         ┆      │
│ ST022375   ┆ Ava        ┆ Jones     ┆ 1990-04-25 ┆ … ┆ +1-681-921 ┆ 456 Oak   ┆ 2021-02-0 ┆ 0.88 │
│            ┆            ┆           ┆            ┆   ┆ -2360      ┆ Ave       ┆ 5         ┆      │
│ ST022478   ┆ Lucas      ┆ Smith     ┆ 2008-05-26 ┆ … ┆ +1-066-765 ┆ 101 Maple ┆ 2021-11-0 ┆ 1.22 │
│            ┆            ┆           ┆            ┆   ┆ -9150      ┆ Rd        ┆ 3         ┆      │
│ …          ┆ …          ┆ …         ┆ …          ┆ … ┆ …          ┆ …         ┆ …         ┆ …    │
│ ST989654   ┆ Liam       ┆ Smith     ┆ 1998-03-03 ┆ … ┆ +1-990-680 ┆ 789 Pine  ┆ 2023-01-2 ┆ 1.98 │
│            ┆            ┆           ┆            ┆   ┆ -7280      ┆ Ln        ┆ 1         ┆      │
│ ST992507   ┆ John       ┆ Brown     ┆ 1988-05-07 ┆ … ┆ +1-948-637 ┆ 202 Elm   ┆ 2024-07-1 ┆ 3.22 │
│            ┆            ┆           ┆            ┆   ┆ -4533      ┆ St        ┆ 3         ┆      │
│ ST995737   ┆ Liam       ┆ Johnson   ┆ 1997-03-28 ┆ … ┆ +1-233-506 ┆ 456 Oak   ┆ 2023-09-1 ┆ 3.58 │
│            ┆            ┆           ┆            ┆   ┆ -1871      ┆ Ave       ┆ 3         ┆      │
│ ST998331   ┆ Isabella   ┆ Williams  ┆ 1984-04-23 ┆ … ┆ +1-547-126 ┆ 123 Main  ┆ 2023-04-0 ┆ 2.21 │
│            ┆            ┆           ┆            ┆   ┆ -1190      ┆ St        ┆ 2         ┆      │
│ ST998936   ┆ Sophia     ┆ Johnson   ┆ 2000-12-24 ┆ … ┆ +1-534-257 ┆ 202 Elm   ┆ 2024-07-0 ┆ 1.99 │
│            ┆            ┆           ┆            ┆   ┆ -9392      ┆ St        ┆ 1         ┆      │
└────────────┴────────────┴───────────┴────────────┴───┴────────────┴───────────┴───────────┴──────┘

In [4]:
df_polars.describe()

shape: (9, 12)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ student_i ┆ first_nam ┆ last_name ┆ … ┆ phone_num ┆ address   ┆ enrollmen ┆ gpa      │
│ ---       ┆ d         ┆ e         ┆ ---       ┆   ┆ ber       ┆ ---       ┆ t_date    ┆ ---      │
│ str       ┆ ---       ┆ ---       ┆ str       ┆   ┆ ---       ┆ str       ┆ ---       ┆ f64      │
│           ┆ str       ┆ str       ┆           ┆   ┆ str       ┆           ┆ str       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 1000000   ┆ 1000000   ┆ 1000000   ┆ … ┆ 1000000   ┆ 1000000   ┆ 1000000   ┆ 1e6      │
│ null_coun ┆ 0         ┆ 0         ┆ 0         ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 0.0      │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ null      ┆ null      ┆ null      ┆ … ┆ null      ┆ null      ┆ 2022-05-2 ┆ 2.001035 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 2 11:32:4 ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 6.262000  ┆          │
│ std       ┆ null      ┆ null      ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ 1.155013 │
│ min       ┆ ST000001  ┆ Ava       ┆ Brown     ┆ … ┆ +1-000-00 ┆ 101 Maple ┆ 2019-11-2 ┆ 0.0      │
│           ┆           ┆           ┆           ┆   ┆ 0-2010    ┆ Rd        ┆ 3         ┆          │
│ 25%       ┆ null      ┆ null      ┆ null      ┆ … ┆ null      ┆ null      ┆ 2021-02-2 ┆ 1.0      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 1         ┆          │
│ 50%       ┆ null      ┆ null      ┆ null      ┆ … ┆ null      ┆ null      ┆ 2022-05-2 ┆ 2.0      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 2         ┆          │
│ 75%       ┆ null      ┆ null      ┆ null      ┆ … ┆ null      ┆ null      ┆ 2023-08-2 ┆ 3.0      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 1         ┆          │
│ max       ┆ ST999999  ┆ Sophia    ┆ Wilson    ┆ … ┆ +1-999-99 ┆ 789 Pine  ┆ 2024-11-2 ┆ 4.0      │
│           ┆           ┆           ┆           ┆   ┆ 9-9621    ┆ Ln        ┆ 0         ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [5]:
import pandas as pd

# Define SQL query
query = """
SELECT * 
FROM `soloyt-youtube.dummy_sets.students_1`
"""

# Execute query and load results into a Pandas DataFrame
df_pandas = client.query(query).to_dataframe()

In [6]:
df_pandas

,student_id,first_name,last_name,date_of_birth,gender,grade_level,email,phone_number,address,enrollment_date,gpa
0,ST001091,Isabella,Smith,1988-07-11,Male,2,Ava.Brown@studentemail.com,+1-863-759-8459,456 Oak Ave,2021-07-05,1.66
1,ST013021,Olivia,Williams,1990-11-18,Non-Binary,9,Ava.Brown@studentemail.com,+1-623-396-8779,101 Maple Rd,2024-04-05,3.99
2,ST015863,Mason,Brown,1991-10-28,Other,1,Ava.Brown@studentemail.com,+1-690-446-3829,456 Oak Ave,2021-12-20,0.89
3,ST022375,Ava,Jones,1990-04-25,Female,4,Ava.Brown@studentemail.com,+1-681-921-2360,456 Oak Ave,2021-02-05,0.88
4,ST022478,Lucas,Smith,2008-05-26,Other,12,Ava.Brown@studentemail.com,+1-066-765-9150,101 Maple Rd,2021-11-03,1.22
...,...,...,...,...,...,...,...,...,...,...,...
999995,ST989654,Liam,Smith,1998-03-03,Female,3,Isabella.Williams@studentemail.com,+1-990-680-7280,789 Pine Ln,2023-01-21,1.98
999996,ST992507,John,Brown,1988-05-07,Non-Binary,10,Isabella.Williams@studentemail.com,+1-948-637-4533,202 Elm St,2024-07-13,3.22
999997,ST995737,Liam,Johnson,1997-03-28,Male,9,Isabella.Williams@studentemail.com,+1-233-506-1871,456 Oak Ave,2023-09-13,3.58
999998,ST998331,Isabella,Williams,1984-04-23,Female,3,Isabella.Williams@studentemail.com,+1-547-126-1190,123 Main St,2023-04-02,2.21
999999,ST998936,Sophia,Johnson,2000-12-24,Male,11,Isabella.Williams@studentemail.com,+1-534-257-9392,202 Elm St,2024-07-01,1.99

In [7]:
import time

Filter students in grade level 10 or above with GPA greater than 3.5.

In [8]:
# Pandas Filtering
start = time.time()
filtered_pandas = df_pandas[(df_pandas["grade_level"] >= 10) & (df_pandas["gpa"] > 3.5)]
pandas_time = time.time() - start

# Polars Filtering
start = time.time()
filtered_polars = df_polars.filter((pl.col("grade_level") >= 10) & (pl.col("gpa") > 3.5))
polars_time = time.time() - start

print(f"Pandas time: {pandas_time:.6f} seconds")
print(f"Polars time: {polars_time:.6f} seconds")

Pandas time: 0.026892 seconds
Polars time: 0.009641 seconds

Find the average GPA for each grade level.

In [9]:
# Pandas Group By
start = time.time()
grouped_pandas = df_pandas.groupby("grade_level")["gpa"].mean()
pandas_time = time.time() - start

# Polars Group By
start = time.time()
grouped_polars = df_polars.group_by("grade_level").agg(pl.col("gpa").mean().alias("avg_gpa"))
polars_time = time.time() - start

print(f"Pandas time: {pandas_time:.6f} seconds")
print(f"Polars time: {polars_time:.6f} seconds")

Pandas time: 0.026709 seconds
Polars time: 0.007035 seconds

Create a new column to classify students into "High GPA" (GPA >= 3.5) or "Low GPA" (GPA < 3.5).

In [10]:
# Pandas Adding Column
start = time.time()
df_pandas["gpa_category"] = df_pandas["gpa"].apply(lambda x: "High GPA" if x >= 3.5 else "Low GPA")
pandas_time = time.time() - start

# Polars Adding Column
start = time.time()
df_polars = df_polars.with_columns(
    pl.when(pl.col("gpa") >= 3.5)
    .then(pl.lit("High GPA"))
    .otherwise(pl.lit("Low GPA"))
    .alias("gpa_category")
)
polars_time = time.time() - start

print(f"Pandas time: {pandas_time:.6f} seconds")
print(f"Polars time: {polars_time:.6f} seconds")

Pandas time: 0.214917 seconds
Polars time: 0.018173 seconds

Fill missing values in email and phone_number with "Not Provided".

In [11]:
# Pandas Handling Nulls
start = time.time()
df_pandas["email"] = df_pandas["email"].fillna("Not Provided")
df_pandas["phone_number"] = df_pandas["phone_number"].fillna("Not Provided")
pandas_time = time.time() - start

# Polars Handling Nulls
start = time.time()
df_polars = df_polars.with_columns([
    pl.col("email").fill_null("Not Provided"),
    pl.col("phone_number").fill_null("Not Provided")
])
polars_time = time.time() - start

print(f"Pandas time: {pandas_time:.6f} seconds")
print(f"Polars time: {polars_time:.6f} seconds")

Pandas time: 0.155353 seconds
Polars time: 0.056157 seconds

Sort students by enrollment_date in ascending order and gpa in descending order.

In [12]:
# Pandas Sorting
start = time.time()
sorted_pandas = df_pandas.sort_values(by=["enrollment_date", "gpa"], ascending=[True, False])
pandas_time = time.time() - start

# Polars Sorting
start = time.time()
sorted_polars = df_polars.sort(["enrollment_date", "gpa"], descending=[False, True])
polars_time = time.time() - start

print(f"Pandas time: {pandas_time:.6f} seconds")
print(f"Polars time: {polars_time:.6f} seconds")

Pandas time: 0.710888 seconds
Polars time: 0.205118 seconds

Simulate joining the student dataset with another dataset (e.g., student test scores).

In [13]:
# Create a second DataFrame with test scores
import numpy as np
scores = {
    "student_id": np.random.choice(df_pandas["student_id"], size=1000000, replace=True),
    "test_score": np.random.randint(50, 100, size=1000000)
}

# Pandas and Polars DataFrames for the second dataset
df_scores_pandas = pd.DataFrame(scores)
df_scores_polars = pl.DataFrame(scores)

Merge Operation

In [14]:
# Pandas Merge
start = time.time()
merged_pandas = pd.merge(df_pandas, df_scores_pandas, on="student_id", how="inner")
pandas_time = time.time() - start

# Polars Merge
start = time.time()
merged_polars = df_polars.join(df_scores_polars, on="student_id", how="inner")
polars_time = time.time() - start

print(f"Pandas time: {pandas_time:.6f} seconds")
print(f"Polars time: {polars_time:.6f} seconds")

Pandas time: 0.999589 seconds
Polars time: 0.220857 seconds

Perform a transformation that creates a new column based on multiple conditions (e.g., assigning performance categories based on GPA and test scores).

Add a Test Score Column for Pandas and Polars

In [15]:
df_pandas = pd.merge(df_pandas, df_scores_pandas, on="student_id", how="inner")
df_polars = df_polars.join(df_scores_polars, on="student_id", how="inner")

Apply Transformation

In [16]:
# Pandas Transformation
start = time.time()
df_pandas["performance"] = df_pandas.apply(
    lambda row: "Excellent" if row["gpa"] >= 3.5 and row["test_score"] >= 90 else
                "Good" if row["gpa"] >= 3.0 and row["test_score"] >= 80 else
                "Average",
    axis=1
)
pandas_time = time.time() - start

# Polars Transformation
start = time.time()
df_polars = df_polars.with_columns(
    pl.when((pl.col("gpa") >= 3.5) & (pl.col("test_score") >= 90))
    .then(pl.lit("Excellent"))
    .when((pl.col("gpa") >= 3.0) & (pl.col("test_score") >= 80))
    .then(pl.lit("Good"))
    .otherwise(pl.lit("Average"))
    .alias("performance")
)
polars_time = time.time() - start

print(f"Pandas time: {pandas_time:.6f} seconds")
print(f"Polars time: {polars_time:.6f} seconds")

Pandas time: 17.272588 seconds
Polars time: 0.034811 seconds

Simulate a column where students have multiple phone numbers stored as a list, and flatten it into multiple rows.

In [17]:
# Create a new column with nested data (list of phone numbers)
df_pandas["phone_numbers"] = df_pandas["phone_number"].apply(lambda x: [x, f"alternate_{x}"])
df_polars = df_polars.with_columns(pl.lit(["phone1", "phone2"]).alias("phone_numbers"))

In [18]:
# Pandas Exploding
start = time.time()
exploded_pandas = df_pandas.explode("phone_numbers")
pandas_time = time.time() - start

# Polars Exploding
start = time.time()
exploded_polars = df_polars.explode("phone_numbers")
polars_time = time.time() - start

print(f"Pandas time: {pandas_time:.6f} seconds")
print(f"Polars time: {polars_time:.6f} seconds")

Pandas time: 1.262137 seconds
Polars time: 0.147267 seconds

## SQL Operations

WHERE CLAUSE
```sql
SELECT * 
FROM students 
WHERE grade_level >= 10 AND gpa > 3.5;
```

In [26]:
filtered_students = (
    df_polars
    .filter(
        (pl.col("grade_level") >= 10) & 
        (pl.col("gpa") > 3.5)
    )
)
print(filtered_students.select(['grade_level', 'gpa']))

shape: (30_901, 2)
┌─────────────┬──────┐
│ grade_level ┆ gpa  │
│ ---         ┆ ---  │
│ i64         ┆ f64  │
╞═════════════╪══════╡
│ 11          ┆ 3.72 │
│ 12          ┆ 3.61 │
│ 10          ┆ 3.96 │
│ 11          ┆ 3.87 │
│ 11          ┆ 3.71 │
│ …           ┆ …    │
│ 12          ┆ 3.74 │
│ 11          ┆ 3.55 │
│ 11          ┆ 3.96 │
│ 12          ┆ 3.73 │
│ 10          ┆ 3.67 │
└─────────────┴──────┘

GROUP BY
```sql
SELECT grade_level, AVG(gpa) AS avg_gpa
FROM students
GROUP BY grade_level;
```

In [27]:
grouped_students = (
    df_polars
    .group_by("grade_level")
    .agg(
        pl.col("gpa").mean().alias("avg_gpa")
    )
)
print(grouped_students)

shape: (12, 2)
┌─────────────┬──────────┐
│ grade_level ┆ avg_gpa  │
│ ---         ┆ ---      │
│ i64         ┆ f64      │
╞═════════════╪══════════╡
│ 1           ┆ 2.006348 │
│ 3           ┆ 2.001615 │
│ 4           ┆ 1.997741 │
│ 10          ┆ 1.996251 │
│ 5           ┆ 2.003723 │
│ …           ┆ …        │
│ 2           ┆ 1.995281 │
│ 7           ┆ 1.990359 │
│ 9           ┆ 2.00386  │
│ 11          ┆ 2.000584 │
│ 12          ┆ 2.000759 │
└─────────────┴──────────┘

JOIN OPERATION
```sql
SELECT s.student_id, s.first_name, t.test_score
FROM students s
INNER JOIN test_scores t
ON s.student_id = t.student_id;
```

In [28]:
# Assuming test_scores_polars is another Polars DataFrame
joined_data = (
    df_polars
    .join(df_scores_polars, on="student_id", how="inner")
)
print(joined_data)

shape: (1_998_236, 16)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ student_i ┆ first_nam ┆ last_name ┆ date_of_b ┆ … ┆ test_scor ┆ performan ┆ phone_num ┆ test_sco │
│ d         ┆ e         ┆ ---       ┆ irth      ┆   ┆ e         ┆ ce        ┆ bers      ┆ re_right │
│ ---       ┆ ---       ┆ str       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆ str       ┆           ┆ date      ┆   ┆ i64       ┆ str       ┆ list[str] ┆ i64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ ST108429  ┆ Isabella  ┆ Johnson   ┆ 1998-10-0 ┆ … ┆ 53        ┆ Average   ┆ ["phone1" ┆ 53       │
│           ┆           ┆           ┆ 8         ┆   ┆           ┆           ┆ ,         ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ "phone2"] ┆          │
│ ST108429  ┆ Isabella  ┆ Johnson   ┆ 1998-10-0 ┆ … ┆ 91        ┆ Good      ┆ ["phone1" ┆ 53       │
│           ┆           ┆           ┆ 8         ┆   ┆           ┆           ┆ ,         ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ "phone2"] ┆          │
│ ST108429  ┆ Isabella  ┆ Johnson   ┆ 1998-10-0 ┆ … ┆ 95        ┆ Good      ┆ ["phone1" ┆ 53       │
│           ┆           ┆           ┆ 8         ┆   ┆           ┆           ┆ ,         ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ "phone2"] ┆          │
│ ST407989  ┆ Noah      ┆ Brown     ┆ 1983-03-2 ┆ … ┆ 93        ┆ Average   ┆ ["phone1" ┆ 93       │
│           ┆           ┆           ┆ 6         ┆   ┆           ┆           ┆ ,         ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ "phone2"] ┆          │
│ ST407989  ┆ Noah      ┆ Brown     ┆ 1983-03-2 ┆ … ┆ 71        ┆ Average   ┆ ["phone1" ┆ 93       │
│           ┆           ┆           ┆ 6         ┆   ┆           ┆           ┆ ,         ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ "phone2"] ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ ST943966  ┆ Isabella  ┆ Wilson    ┆ 2006-09-2 ┆ … ┆ 81        ┆ Average   ┆ ["phone1" ┆ 84       │
│           ┆           ┆           ┆ 8         ┆   ┆           ┆           ┆ ,         ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ "phone2"] ┆          │
│ ST943966  ┆ Isabella  ┆ Wilson    ┆ 2006-09-2 ┆ … ┆ 84        ┆ Average   ┆ ["phone1" ┆ 84       │
│           ┆           ┆           ┆ 8         ┆   ┆           ┆           ┆ ,         ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ "phone2"] ┆          │
│ ST140498  ┆ Isabella  ┆ Moore     ┆ 1990-08-1 ┆ … ┆ 69        ┆ Average   ┆ ["phone1" ┆ 91       │
│           ┆           ┆           ┆ 8         ┆   ┆           ┆           ┆ ,         ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ "phone2"] ┆          │
│ ST140498  ┆ Isabella  ┆ Moore     ┆ 1990-08-1 ┆ … ┆ 91        ┆ Average   ┆ ["phone1" ┆ 91       │
│           ┆           ┆           ┆ 8         ┆   ┆           ┆           ┆ ,         ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ "phone2"] ┆          │
│ ST324844  ┆ Liam      ┆ Moore     ┆ 1990-12-3 ┆ … ┆ 67        ┆ Average   ┆ ["phone1" ┆ 67       │
│           ┆           ┆           ┆ 1         ┆   ┆           ┆           ┆ ,         ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ "phone2"] ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

WINDOW FUNCTION
```sql
SELECT student_id, gpa, RANK() OVER (PARTITION BY grade_level ORDER BY gpa DESC) AS rank
FROM students;
```

In [29]:
ranked_students = (
    df_polars
    .sort("gpa", descending=True)
    .with_columns(
        pl.col("gpa")
        .rank("ordinal")
        .over("grade_level")
        .alias("rank")
    )
)
print(ranked_students.filter(pl.col('rank') == 1))

shape: (12, 16)
┌────────────┬────────────┬───────────┬────────────┬───┬────────────┬───────────┬───────────┬──────┐
│ student_id ┆ first_name ┆ last_name ┆ date_of_bi ┆ … ┆ test_score ┆ performan ┆ phone_num ┆ rank │
│ ---        ┆ ---        ┆ ---       ┆ rth        ┆   ┆ ---        ┆ ce        ┆ bers      ┆ ---  │
│ str        ┆ str        ┆ str       ┆ ---        ┆   ┆ i64        ┆ ---       ┆ ---       ┆ u32  │
│            ┆            ┆           ┆ date       ┆   ┆            ┆ str       ┆ list[str] ┆      │
╞════════════╪════════════╪═══════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪══════╡
│ ST512826   ┆ John       ┆ Johnson   ┆ 1998-02-22 ┆ … ┆ 79         ┆ Average   ┆ ["phone1" ┆ 1    │
│            ┆            ┆           ┆            ┆   ┆            ┆           ┆ ,         ┆      │
│            ┆            ┆           ┆            ┆   ┆            ┆           ┆ "phone2"] ┆      │
│ ST614611   ┆ Lucas      ┆ Moore     ┆ 1991-12-08 ┆ … ┆ 64         ┆ Average   ┆ ["phone1" ┆ 1    │
│            ┆            ┆           ┆            ┆   ┆            ┆           ┆ ,         ┆      │
│            ┆            ┆           ┆            ┆   ┆            ┆           ┆ "phone2"] ┆      │
│ ST103001   ┆ Lucas      ┆ Brown     ┆ 1989-08-13 ┆ … ┆ 71         ┆ Average   ┆ ["phone1" ┆ 1    │
│            ┆            ┆           ┆            ┆   ┆            ┆           ┆ ,         ┆      │
│            ┆            ┆           ┆            ┆   ┆            ┆           ┆ "phone2"] ┆      │
│ ST028227   ┆ Ava        ┆ Davis     ┆ 2003-03-15 ┆ … ┆ 96         ┆ Average   ┆ ["phone1" ┆ 1    │
│            ┆            ┆           ┆            ┆   ┆            ┆           ┆ ,         ┆      │
│            ┆            ┆           ┆            ┆   ┆            ┆           ┆ "phone2"] ┆      │
│ ST907431   ┆ Sophia     ┆ Smith     ┆ 1983-03-28 ┆ … ┆ 64         ┆ Average   ┆ ["phone1" ┆ 1    │
│            ┆            ┆           ┆            ┆   ┆            ┆           ┆ ,         ┆      │
│            ┆            ┆           ┆            ┆   ┆            ┆           ┆ "phone2"] ┆      │
│ …          ┆ …          ┆ …         ┆ …          ┆ … ┆ …          ┆ …         ┆ …         ┆ …    │
│ ST809567   ┆ Lucas      ┆ Davis     ┆ 1989-10-14 ┆ … ┆ 79         ┆ Average   ┆ ["phone1" ┆ 1    │
│            ┆            ┆           ┆            ┆   ┆            ┆           ┆ ,         ┆      │
│            ┆            ┆           ┆            ┆   ┆            ┆           ┆ "phone2"] ┆      │
│ ST368377   ┆ Emma       ┆ Taylor    ┆ 1993-03-03 ┆ … ┆ 76         ┆ Average   ┆ ["phone1" ┆ 1    │
│            ┆            ┆           ┆            ┆   ┆            ┆           ┆ ,         ┆      │
│            ┆            ┆           ┆            ┆   ┆            ┆           ┆ "phone2"] ┆      │
│ ST102453   ┆ Liam       ┆ Jones     ┆ 1994-09-10 ┆ … ┆ 74         ┆ Average   ┆ ["phone1" ┆ 1    │
│            ┆            ┆           ┆            ┆   ┆            ┆           ┆ ,         ┆      │
│            ┆            ┆           ┆            ┆   ┆            ┆           ┆ "phone2"] ┆      │
│ ST764523   ┆ Olivia     ┆ Wilson    ┆ 2007-10-22 ┆ … ┆ 80         ┆ Average   ┆ ["phone1" ┆ 1    │
│            ┆            ┆           ┆            ┆   ┆            ┆           ┆ ,         ┆      │
│            ┆            ┆           ┆            ┆   ┆            ┆           ┆ "phone2"] ┆      │
│ ST616969   ┆ Emma       ┆ Miller    ┆ 1989-08-31 ┆ … ┆ 56         ┆ Average   ┆ ["phone1" ┆ 1    │
│            ┆            ┆           ┆            ┆   ┆            ┆           ┆ ,         ┆      │
│            ┆            ┆           ┆            ┆   ┆            ┆           ┆ "phone2"] ┆      │
└────────────┴────────────┴───────────┴────────────┴───┴────────────┴───────────┴───────────┴──────┘

HAVING CLAUSE
```SQL
SELECT grade_level, COUNT(*) AS num_students
FROM students
GROUP BY grade_level
HAVING COUNT(*) > 100;
```

In [23]:
grouped_students = (
    df_polars
    .group_by("grade_level")
    .agg(
        pl.len().alias("num_students")
    )
    .filter(pl.col("num_students") > 100)
)
print(grouped_students)

shape: (12, 2)
┌─────────────┬──────────────┐
│ grade_level ┆ num_students │
│ ---         ┆ ---          │
│ i64         ┆ u32          │
╞═════════════╪══════════════╡
│ 12          ┆ 83926        │
│ 6           ┆ 82980        │
│ 3           ┆ 82519        │
│ 11          ┆ 83831        │
│ 10          ┆ 83790        │
│ …           ┆ …            │
│ 8           ┆ 83018        │
│ 5           ┆ 83862        │
│ 7           ┆ 83432        │
│ 9           ┆ 83824        │
│ 1           ┆ 82926        │
└─────────────┴──────────────┘

CASE STATEMENT
```SQL
SELECT student_id, 
       gpa, 
       CASE 
           WHEN gpa >= 3.5 THEN 'High GPA' 
           WHEN gpa >= 3.0 THEN 'Medium GPA' 
           ELSE 'Low GPA' 
       END AS gpa_category
FROM students;
```

In [24]:
students_with_category = (
    df_polars
    .with_columns(
        pl.when(pl.col("gpa") >= 3.5)
        .then(pl.lit("High GPA"))
        .when(pl.col("gpa") >= 3.0)
        .then(pl.lit("Medium GPA"))
        .otherwise(pl.lit("Low GPA"))
        .alias("gpa_category")
    )
)
print(students_with_category)

shape: (1_000_000, 15)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ student_i ┆ first_nam ┆ last_name ┆ date_of_b ┆ … ┆ gpa_categ ┆ test_scor ┆ performan ┆ phone_nu │
│ d         ┆ e         ┆ ---       ┆ irth      ┆   ┆ ory       ┆ e         ┆ ce        ┆ mbers    │
│ ---       ┆ ---       ┆ str       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆ str       ┆           ┆ date      ┆   ┆ str       ┆ i64       ┆ str       ┆ list[str │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ ]        │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ ST108429  ┆ Isabella  ┆ Johnson   ┆ 1998-10-0 ┆ … ┆ Medium    ┆ 53        ┆ Average   ┆ ["phone1 │
│           ┆           ┆           ┆ 8         ┆   ┆ GPA       ┆           ┆           ┆ ", "phon │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ e2"]     │
│ ST407989  ┆ Noah      ┆ Brown     ┆ 1983-03-2 ┆ … ┆ Low GPA   ┆ 93        ┆ Average   ┆ ["phone1 │
│           ┆           ┆           ┆ 6         ┆   ┆           ┆           ┆           ┆ ", "phon │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ e2"]     │
│ ST928056  ┆ John      ┆ Davis     ┆ 1996-07-1 ┆ … ┆ High GPA  ┆ 80        ┆ Good      ┆ ["phone1 │
│           ┆           ┆           ┆ 0         ┆   ┆           ┆           ┆           ┆ ", "phon │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ e2"]     │
│ ST621243  ┆ Lucas     ┆ Wilson    ┆ 2000-08-0 ┆ … ┆ Low GPA   ┆ 57        ┆ Average   ┆ ["phone1 │
│           ┆           ┆           ┆ 5         ┆   ┆           ┆           ┆           ┆ ", "phon │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ e2"]     │
│ ST605538  ┆ Lucas     ┆ Davis     ┆ 1989-09-0 ┆ … ┆ High GPA  ┆ 86        ┆ Good      ┆ ["phone1 │
│           ┆           ┆           ┆ 4         ┆   ┆           ┆           ┆           ┆ ", "phon │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ e2"]     │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ ST295495  ┆ Mason     ┆ Williams  ┆ 2001-06-1 ┆ … ┆ High GPA  ┆ 94        ┆ Excellent ┆ ["phone1 │
│           ┆           ┆           ┆ 5         ┆   ┆           ┆           ┆           ┆ ", "phon │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ e2"]     │
│ ST185607  ┆ Isabella  ┆ Miller    ┆ 1986-05-2 ┆ … ┆ Low GPA   ┆ 74        ┆ Average   ┆ ["phone1 │
│           ┆           ┆           ┆ 8         ┆   ┆           ┆           ┆           ┆ ", "phon │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ e2"]     │
│ ST943966  ┆ Isabella  ┆ Wilson    ┆ 2006-09-2 ┆ … ┆ Low GPA   ┆ 84        ┆ Average   ┆ ["phone1 │
│           ┆           ┆           ┆ 8         ┆   ┆           ┆           ┆           ┆ ", "phon │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ e2"]     │
│ ST140498  ┆ Isabella  ┆ Moore     ┆ 1990-08-1 ┆ … ┆ Low GPA   ┆ 91        ┆ Average   ┆ ["phone1 │
│           ┆           ┆           ┆ 8         ┆   ┆           ┆           ┆           ┆ ", "phon │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ e2"]     │
│ ST324844  ┆ Liam      ┆ Moore     ┆ 1990-12-3 ┆ … ┆ Low GPA   ┆ 67        ┆ Average   ┆ ["phone1 │
│           ┆           ┆           ┆ 1         ┆   ┆           ┆           ┆           ┆ ", "phon │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ e2"]     │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [30]:
df_polars

shape: (1_000_000, 15)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ student_i ┆ first_nam ┆ last_name ┆ date_of_b ┆ … ┆ gpa_categ ┆ test_scor ┆ performan ┆ phone_nu │
│ d         ┆ e         ┆ ---       ┆ irth      ┆   ┆ ory       ┆ e         ┆ ce        ┆ mbers    │
│ ---       ┆ ---       ┆ str       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆ str       ┆           ┆ date      ┆   ┆ str       ┆ i64       ┆ str       ┆ list[str │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ ]        │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ ST108429  ┆ Isabella  ┆ Johnson   ┆ 1998-10-0 ┆ … ┆ Low GPA   ┆ 53        ┆ Average   ┆ ["phone1 │
│           ┆           ┆           ┆ 8         ┆   ┆           ┆           ┆           ┆ ", "phon │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ e2"]     │
│ ST407989  ┆ Noah      ┆ Brown     ┆ 1983-03-2 ┆ … ┆ Low GPA   ┆ 93        ┆ Average   ┆ ["phone1 │
│           ┆           ┆           ┆ 6         ┆   ┆           ┆           ┆           ┆ ", "phon │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ e2"]     │
│ ST928056  ┆ John      ┆ Davis     ┆ 1996-07-1 ┆ … ┆ High GPA  ┆ 80        ┆ Good      ┆ ["phone1 │
│           ┆           ┆           ┆ 0         ┆   ┆           ┆           ┆           ┆ ", "phon │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ e2"]     │
│ ST621243  ┆ Lucas     ┆ Wilson    ┆ 2000-08-0 ┆ … ┆ Low GPA   ┆ 57        ┆ Average   ┆ ["phone1 │
│           ┆           ┆           ┆ 5         ┆   ┆           ┆           ┆           ┆ ", "phon │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ e2"]     │
│ ST605538  ┆ Lucas     ┆ Davis     ┆ 1989-09-0 ┆ … ┆ High GPA  ┆ 86        ┆ Good      ┆ ["phone1 │
│           ┆           ┆           ┆ 4         ┆   ┆           ┆           ┆           ┆ ", "phon │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ e2"]     │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ ST295495  ┆ Mason     ┆ Williams  ┆ 2001-06-1 ┆ … ┆ High GPA  ┆ 94        ┆ Excellent ┆ ["phone1 │
│           ┆           ┆           ┆ 5         ┆   ┆           ┆           ┆           ┆ ", "phon │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ e2"]     │
│ ST185607  ┆ Isabella  ┆ Miller    ┆ 1986-05-2 ┆ … ┆ Low GPA   ┆ 74        ┆ Average   ┆ ["phone1 │
│           ┆           ┆           ┆ 8         ┆   ┆           ┆           ┆           ┆ ", "phon │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ e2"]     │
│ ST943966  ┆ Isabella  ┆ Wilson    ┆ 2006-09-2 ┆ … ┆ Low GPA   ┆ 84        ┆ Average   ┆ ["phone1 │
│           ┆           ┆           ┆ 8         ┆   ┆           ┆           ┆           ┆ ", "phon │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ e2"]     │
│ ST140498  ┆ Isabella  ┆ Moore     ┆ 1990-08-1 ┆ … ┆ Low GPA   ┆ 91        ┆ Average   ┆ ["phone1 │
│           ┆           ┆           ┆ 8         ┆   ┆           ┆           ┆           ┆ ", "phon │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ e2"]     │
│ ST324844  ┆ Liam      ┆ Moore     ┆ 1990-12-3 ┆ … ┆ Low GPA   ┆ 67        ┆ Average   ┆ ["phone1 │
│           ┆           ┆           ┆ 1         ┆   ┆           ┆           ┆           ┆ ", "phon │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ e2"]     │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [40]:
df_polars_out = df_polars.join(df_scores_polars, on="student_id", how="left", suffix="_add")

In [41]:
df_polars_out

shape: (1_367_563, 12)
┌────────────┬────────────┬───────────┬────────────┬───┬────────────┬───────────┬──────┬───────────┐
│ student_id ┆ first_name ┆ last_name ┆ date_of_bi ┆ … ┆ address    ┆ enrollmen ┆ gpa  ┆ test_scor │
│ ---        ┆ ---        ┆ ---       ┆ rth        ┆   ┆ ---        ┆ t_date    ┆ ---  ┆ e         │
│ str        ┆ str        ┆ str       ┆ ---        ┆   ┆ str        ┆ ---       ┆ f64  ┆ ---       │
│            ┆            ┆           ┆ date       ┆   ┆            ┆ date      ┆      ┆ i64       │
╞════════════╪════════════╪═══════════╪════════════╪═══╪════════════╪═══════════╪══════╪═══════════╡
│ ST001091   ┆ Isabella   ┆ Smith     ┆ 1988-07-11 ┆ … ┆ 456 Oak    ┆ 2021-07-0 ┆ 1.66 ┆ null      │
│            ┆            ┆           ┆            ┆   ┆ Ave        ┆ 5         ┆      ┆           │
│ ST013021   ┆ Olivia     ┆ Williams  ┆ 1990-11-18 ┆ … ┆ 101 Maple  ┆ 2024-04-0 ┆ 3.99 ┆ null      │
│            ┆            ┆           ┆            ┆   ┆ Rd         ┆ 5         ┆      ┆           │
│ ST015863   ┆ Mason      ┆ Brown     ┆ 1991-10-28 ┆ … ┆ 456 Oak    ┆ 2021-12-2 ┆ 0.89 ┆ null      │
│            ┆            ┆           ┆            ┆   ┆ Ave        ┆ 0         ┆      ┆           │
│ ST022375   ┆ Ava        ┆ Jones     ┆ 1990-04-25 ┆ … ┆ 456 Oak    ┆ 2021-02-0 ┆ 0.88 ┆ 58        │
│            ┆            ┆           ┆            ┆   ┆ Ave        ┆ 5         ┆      ┆           │
│ ST022375   ┆ Ava        ┆ Jones     ┆ 1990-04-25 ┆ … ┆ 456 Oak    ┆ 2021-02-0 ┆ 0.88 ┆ 95        │
│            ┆            ┆           ┆            ┆   ┆ Ave        ┆ 5         ┆      ┆           │
│ …          ┆ …          ┆ …         ┆ …          ┆ … ┆ …          ┆ …         ┆ …    ┆ …         │
│ ST992507   ┆ John       ┆ Brown     ┆ 1988-05-07 ┆ … ┆ 202 Elm St ┆ 2024-07-1 ┆ 3.22 ┆ null      │
│            ┆            ┆           ┆            ┆   ┆            ┆ 3         ┆      ┆           │
│ ST995737   ┆ Liam       ┆ Johnson   ┆ 1997-03-28 ┆ … ┆ 456 Oak    ┆ 2023-09-1 ┆ 3.58 ┆ 83        │
│            ┆            ┆           ┆            ┆   ┆ Ave        ┆ 3         ┆      ┆           │
│ ST998331   ┆ Isabella   ┆ Williams  ┆ 1984-04-23 ┆ … ┆ 123 Main   ┆ 2023-04-0 ┆ 2.21 ┆ 90        │
│            ┆            ┆           ┆            ┆   ┆ St         ┆ 2         ┆      ┆           │
│ ST998331   ┆ Isabella   ┆ Williams  ┆ 1984-04-23 ┆ … ┆ 123 Main   ┆ 2023-04-0 ┆ 2.21 ┆ 67        │
│            ┆            ┆           ┆            ┆   ┆ St         ┆ 2         ┆      ┆           │
│ ST998936   ┆ Sophia     ┆ Johnson   ┆ 2000-12-24 ┆ … ┆ 202 Elm St ┆ 2024-07-0 ┆ 1.99 ┆ null      │
│            ┆            ┆           ┆            ┆   ┆            ┆ 1         ┆      ┆           │
└────────────┴────────────┴───────────┴────────────┴───┴────────────┴───────────┴──────┴───────────┘

In [42]:
df_polars_out.write_parquet('student_output.parquet')

In [43]:
job_config = bigquery.LoadJobConfig(
    source_format=bigquery.SourceFormat.PARQUET,
    write_disposition=bigquery.WriteDisposition.WRITE_TRUNCATE
)

student_output_id = "soloyt-youtube.dummy_sets.student_output"

with open("student_output.parquet", "rb") as f:
    job = client.load_table_from_file(f, student_output_id, job_config=job_config)
    
job.result()

LoadJob<project=soloyt-youtube, location=US, id=47179fab-0c2b-49bb-a6d0-b6c9886f23a7>